<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Poppins:wght@600&display=swap" rel="stylesheet"> <!-- This is for font copied from Google fonts website -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons">
    <title>JA-search</title>
</head>
    <div class="header">
        <!-- <img id="logo" src="/static/Jmusic (1).png" alt="Logo Description"> -->
        <nav id="nav-bar" class="navbar navbar-expand-lg navbar-light bg-white px-lg-3 py-lg-2 shadow-sm sticky-top"> <!-- This is  -->
            <div class="container-fluid">
                <a class="navbar-brand me-5 fw-bold fs-3 h-font" href="#">Sayan Band</a><!-- Here the style of the seven seas All the margins are given here of seven seas -->
                <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link me-2" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-2" href="">Browse</a> <!-- These are links for hotel management -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-2" href="/search">Search</a> <!-- Margins here also basically spaces are margins -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-2" href="">Library</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-2" href="">Settings</a>
                         </li>
                    </ul>
                    <div class="d-flex">
                        <button type="button" class="btn btn-outline-dark shadow-none me-2"> <a href="/signup">Sign Up</a> </button>
                        <button type="button" class="btn btn-outline-dark shadow-none me-lg-3 me-2"> <a href="/login">Login</a> </button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="body">

    </div>
</body>
</html>